dataset/volume.csv
dataset/signals_B.csv
dataset/signals_A.csv
dataset/open_prices.csv
dataset/low_prices.csv
dataset/high_prices.csv
dataset/close_returns.csv
dataset/close_prices.csv
Senior Modelling Researcher Task.pdf
FinalizedTestData.zip
.ipynb_checkpoints/dev_notebook-checkpoint.ipynb
